.window-container {
    width: 100%;
    height: 90%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    .window-wrapper {
        width: 80%;
        height: 80%;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        background-color: rgba(100, 100, 100, 0.2);
        filter: blur(10px);
        backdrop-filter: blur();
        
    }
}

